.list-title {
    font-size: 2rem;
    color: $color-font-heading;
    flex: 1 0 60%;
}

.order-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.checkbox {
    cursor: pointer;
    opacity: 0;
    flex: 1 0 10%;
}

.checkbox:checked ~ .hidden-span::after {
    opacity: 1;
    visibility: visible;
}

.hidden-span {
    position: absolute;
    left: 1rem;
    height: 1.7rem;
    width: 1.7rem;
    background: $color-white;
    box-shadow: 0 0 0 0.2rem $color-primary inset;
    border-radius: 50%;

    &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 0.8rem;
        width: 0.8rem;
        border-radius: 50%;
        background: $color-primary;
        opacity: 0;
        visibility: hidden;
    }
}
