*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //this defines what 1 rem is
    font-size: 62.5%; //10px   1rem = 10 px 10/16=62.5%
}

body {
    box-sizing: border-box;
}

.container {
    max-width: 80rem;
    margin: auto;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__home {
        background-color: $color-primary;
        border-radius: 2rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}

::selection {
    background-color: $color-selection;
    color: $color-white;
}
