*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //this defines what 1 rem is
    font-size: 62.5%; //10px   1rem = 10 px 10/16=62.5%
}

body {
    box-sizing: border-box;
}

.container {
    max-width: 80rem;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__page {
        background-color: $color-primary;
        border-radius: 2rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    &__list {
        display: flex;
        margin-top: 4.5rem;
        flex-direction: column;
    }
}

.contain {
    background-color: $color-list;
    margin-bottom: 1.5rem;
    padding: 0.5rem 5rem;
    border-radius: 1rem;
    box-shadow: rgba($color-font-heading, 0.5) 0px 3px 8px;
}

.contain-edit {
    background-color: $color-list;
    margin-bottom: 1.5rem;
    width: 30rem;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: rgba($color-font-heading, 0.5) 0px 3px 8px;
}

::selection {
    background-color: $color-selection;
    color: $color-white;
}
